body {
  color: #40514E;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-size: 5.63rem;
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Bree Serif', serif;
}

p {
  line-height: 1.5;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7.5px;
  height: 0;
  margin: 80px auto;
  width: 6%;
}


/* Containers */

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Top Container */

.tree {
  width: 20%;
}

.birds {
  position: absolute;
  left: 20%;
  width: 10%;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
  width: 12%;
}


/* Middle Container */

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.circ {
  border-radius: 100%;
  width: 168px;
}

.skills-images {
  border-radius: 100%;
  width: 25%;
}

.development {
  float: left;
  margin-right: 30px;
}

.code {
  float: right;
  margin-left: 30px;
}

.text {
  margin: 40px auto 60px;
  text-align: justify;
  width: 50%;
}

.website {
  text-decoration: none;
  color: #66BFBF;
}

.website:hover {
  color: #11999E;
}

.external-link {
  position: relative;
  bottom: 0.3rem;
  right: 0.3rem;
  color: #66BFBF;
}

.button {
  background-color: #66BFBF;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  line-height: 0;
  margin-bottom: 50PX;
  padding: 2%;
  text-decoration: none;
  width: 135px;
}

.btn:hover {
  opacity: .60;
}

/* Footer */

.footer-link {
  color: #11999E;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #40514E;
}

.footer {
  color: #EAF6F6;
  margin: 20px auto 0;
}

.attribution {
  color:#40514E;
  font-size: 0.7rem;
  text-decoration: none;
}
a.attribution:hover {
  color: #EAF6F6;
}


/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
  
  .text {
    width: 80%;
    text-align: left;
  }

  .skill-row {
    width: 90%;
  }

  .web-dev {
    padding-top: 15%;
  }
}
