body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: darkgrey;
}

h1 {
  color: #66BFBF;
  font-size: 5.63rem;
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Bree Serif', serif;
}

a {
  text-decoration: none;
  color:  #66BFBF;
  font-family: 'Libre Baskerville', serif;
}

p {
  line-height: 2;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7.5px;
  height: 0;
  margin: 80px auto;
  width: 6%;
}

.btn {
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: serif;
   width: 135px;
   font-size: 20px;
   font-weight: 100;
   padding: 2%;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50PX;
}

.btn:hover {
  opacity: .60;
}

.navbar {
  position: absolute;
  right: 6%;
  top: 10px;
}
.navbar a {
  padding: 20px;
}

.navbar a:hover {
  color: grey;
}

.top-container {
  /*background-color: #EAF6F6;*/
  background-color: azure;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-link {
  color: #11999E;
  margin: 20px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color:  #40514E;
}
.footer {
  color: #EAF6F6;
  margin: 20px auto;
}

.tree {
  width: 20%;

}

.bottom-cloud {
  position: absolute;
  left: 20%;
  width: 10%;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
  width: 12%;
}

.circ {
  border-radius: 100%;
  width: 200px;
}

.chill {
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.comp {
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.intro {
  margin: 40px auto 60px;
  text-align: justify;
  width: 50%;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

@media (max-width: 800px) {
  p {
    line-height: 1.5;
  }
  .skill-row{
     width: 90%;
   }

   .web-dev {
     padding-top: 15%;
   }
}
